[submodule "src/activity-detector"]
	path = src/activity-detector
    url = ../thesis-activity-detector.git
[submodule "src/kafka-connect-mqtt"]
	path = src/kafka-connect-mqtt
	url = ../kafka-connect-mqtt.git
[submodule "src/indicator-service"]
	path = src/indicator-service
	url = ../thesis-indicator-service.git
[submodule "src/mosquitto-exporter"]
	path = src/mosquitto-exporter
	url = ../mosquitto-exporter.git
