[submodule "src/activity-detector"]
	path = src/activity-detector
	url = ../activity-detector.git
[submodule "src/kafka-connect-mqtt"]
	path = src/kafka-connect-mqtt
	url = ../kafka-connect-mqtt.git
[submodule "src/indicator-service"]
	path = src/indicator-service
	url = ../indicator-service.git
[submodule "src/experience-sampling-service-backend"]
	path = src/experience-sampling-service-backend
	url = ssh://git@gitlab.tba-hosting.de:47478/edutec/thriller/experience-sampling-service-backend.git
[submodule "src/mosquitto-exporter"]
	path = src/mosquitto-exporter
	url = ssh://git@gitlab.tba-hosting.de:47478/edutec/thriller/infrastructure-sub-mosquitto-promethus-exporter.git
