[submodule "activity-detector"]
	path = activity-detector
	url = ssh://git@gitlab.tba-hosting.de:47478/edutec/thriller/activity-detector.git
[submodule "kafka-connect-mqtt"]
	path = kafka-connect-mqtt
	url = ssh://git@gitlab.tba-hosting.de:47478/edutec/thriller/kafka-connect-mqtt.git
